#contact .genn-Baner-button-container.genn-fl-row{
    display: none;
}

.genn-contact-IconBox-text {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: 'INTER';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 23px;
}







.genn-kontakt-contact-Model h3.genn-CommentsModal-title {
    color: black;
}

.genn-kontakt-contact-Model .genn-CommentsModal-description {
    color: #000;
}


.genn-contact-videoDes-title {
    display: none;
}
.genn-contact-whatsApp i {
    color: rgb(64, 255, 47);
}

.genn-media i {
    font-size: 28px;
    width: 28px;
    height: 28px;
}

.genn-media {
    gap: 18px;
}
.genn-contactInfo {
    gap: 100px;
    align-items: start;
}
.genn-contact-landing-contactInfo {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.number {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter';
}
.genn-contactInfo {    
    display: flex;
    margin-bottom: 50px;
    left: 50px;
    position: relative;

}

.genn-contact-landing {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 100px right 200 px;
}

.genn-location-1 {
    display: flex;
    align-items: start;
    gap: 9px;
}

.genn-contact-whatsApp {
    display: flex;
}

.genn-contact-phone {
    display: flex;
}

.genn-contact-email {
    display: flex;
}

.genn-location-des {
    font-size: 16px;
    color: #000;
    font-family: 'Inter';
    font-weight: 400;
}

.genn-location-1 i {
    font-size: 23px;
    height: 27px;
    width: 21px;
    margin-top: 5px;
}

.genn-contact-landing-location {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.Kontakty-1-2 {
    margin-top: 24px;
    margin-bottom: 33px;
}
.Kontakty-3.n2 {
    display: none;
}
.Kontakty-3 {
    background: #fff;
}

.genn-Baner-button-container.genn-fl-row {
    display: none;
}

button.Kontakty-1-4 {
    margin-top: 24px;
}
.Kontakty-1 {
    background: #EEECEA;
    padding: 60px 98px 0px 70px;
}

.Kontakty-2 {
    background: #EEECEA;
    padding: 60px 98px 60px 70px;
}

.Kontakty-1-0 {
    padding-bottom: 60px;
    border-bottom: 1px solid #ddd;
}

.Kontakty-2-0 p {
    margin-bottom: 15px;
}

.Kontakty-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.Kontakty-3-1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.Kontakty-3-2 {
    text-align: center;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(109deg, #56D188 2.4%, #00726B 87.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h3.Kontakty-2-1 {
    color: #000;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.genn-contact-col-6-6 {
    display: flex;
}

.genn-contact-col-6-6>div {
    width: 50%;
}

h3.Kontakty-1-1 {
    color: #000;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Kontakty-1-2 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Kontakty-1-3 {
    max-width: 50%;
}

.Kontakty-1-4 {
    display: flex;
    width: 153px;
    height: 39px;
    padding: 11px 27px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #000;
    color: #fff;
    border-radius: 50px;
}

span.city-map {
    position: absolute;
    top: 47%;
    left: 37%;
    z-index: 2;
    font-size: 12px;
    color: #ffffff;
}
span.city-map:nth-child(2) {
    top: 29%;
    left: 32%;
}
span.city-map:nth-child(3) {
    top: 21%;
    left: 26.7%;
}
span.city-map::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 16px;
    left: -2px;
    border-radius: 50%;
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .genn-contact-landing {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        
        margin-bottom: 82px;
        margin-left: 87px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {

}

@media (min-width: 768px) and (max-width: 1199px) {
    span.city-map {
        position: absolute;
        top: 45%;
        left: 37%;
        z-index: 2;
        font-size: 10px;
        color: #ffffff;
    }
    .contact-map {
        transform: matrix(2, 0, 0, 2, 195, 110);
    }
    .genn-contact-videoDes-title {
        display: block;
    }

    .Kontakty-3.n3 {
        display: none;
    }
    
    .Kontakty-2 {
        text-align: center;
        font-weight: 400;
        font-family: 'Inter';
    }
    
    .Kontakty-1 {
        padding-bottom: 0;
    }
    
    button.Kontakty-1-4 {
        font-size: 12px;
        font-family: 'Inter';
    }
    
    
    
    .Kontakty-1-2 {
        margin-bottom: 30px;
    }
    
    .Kontakty-1-0 {
        font-family: 'Inter';
    }
    .Kontakty-3.n2 {
        display: flex;
    }

    .genn-contact-videoDes-title {
        padding-top: 43px;
        padding-bottom: 43px;
        text-align: center;
        color: #000;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 600;
    }
    
    .genn-contact-videoDes {
        background: #EEECEA;
    
    }
    
    .relative.genn-contact-col-6-6 {
        flex-direction: column;
    }
    
    .genn-contact-col-6-6>div {
        width: 100%;
    }
    
    .Kontakty-1 {
        padding: 24px;
        padding-bottom: 0px;
        text-align: center;
    }
    
    .Kontakty-1-3 {
        /* width: 100%; */
        max-width: 65%;
    }
    
    .Kontakty-1-0 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h3.Kontakty-1-1 {
        display: none;
    }
    
    .Kontakty-1-2 {
        font-weight: 600;
        margin-top: 0;
    }
    
}

@media (min-width: 414px) and (max-width: 767px) {
    span.city-map {
        position: absolute;
        top: 45%;
        left: 37%;
        z-index: 2;
        font-size: 10px;
        color: #ffffff;
    }
    .contact-map {
        transform: matrix(1, 0, 0, 1, -100, 0);
    }
    .genn-contact-videoDes-title {
        display: block;
    }
    .Kontakty-3.n3 {
        display: none;
    }
    
    .Kontakty-2 {
        text-align: center;
        font-weight: 400;
        font-family: 'Inter';
    }
    
    .Kontakty-1 {
        padding-bottom: 0;
    }
    
    button.Kontakty-1-4 {
        font-size: 12px;
        font-family: 'Inter';
    }
    
    
    
    .Kontakty-1-2 {
        margin-bottom: 30px;
    }
    
    .Kontakty-1-0 {
        font-family: 'Inter';
    }
    .Kontakty-3.n2 {
        display: flex;
    }

    .genn-contact-videoDes-title {
        padding-top: 43px;
        padding-bottom: 43px;
        text-align: center;
        color: #000;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 600;
    }
    
    .genn-contact-videoDes {
        background: #EEECEA;
    
    }
    
    .relative.genn-contact-col-6-6 {
        flex-direction: column;
    }
    
    .genn-contact-col-6-6>div {
        width: 100%;
    }
    
    .Kontakty-1 {
        padding: 24px;
        /* padding-bottom: 0; */
        text-align: center;
    }
    
    .Kontakty-1-3 {
        max-width: 81%;
        font-weight: 400;
        font-family: 'Inter';
    }
    
    .Kontakty-1-0 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h3.Kontakty-1-1 {
        display: none;
    }
    
    .Kontakty-1-2 {
        font-weight: 600;
        margin-top: 0;
    }
    

.Kontakty-1 {
    padding-bottom: 0 !important;
    
}

.Kontakty-1-0 {
    padding-bottom: 40px;
}

.Kontakty-2 {
    padding: 24px 44px;
}
}

@media (min-width: 375px) and (max-width: 413px) {
    .contact-map {
        transform: matrix(1, 0, 0, 1, -100, 0);
    }
    .genn-contactInfo {
        flex-direction: column-reverse;
        left: 30px;
        gap: 30px;
    }
    
    .genn-contact-landing {
        background-position: top 10px right 70%;
        background-size: 300%;
        min-height: 900px;
    }
    
    .genn-contact-landing-contactInfo {
        gap: 16px;
    }
    .genn-contact-videoDes-title {
        display: block;
    }
    .Kontakty-3.n3 {
        display: none;
    }
    
    .Kontakty-2 {
        text-align: center;
        font-weight: 400;
        font-family: 'Inter';
    }
    
    .Kontakty-1 {
        padding-bottom: 0;
    }
    
    button.Kontakty-1-4 {
        font-size: 12px;
        font-family: 'Inter';
    }
    
    
    
    .Kontakty-1-2 {
        margin-bottom: 30px;
    }
    
    .Kontakty-1-0 {
        font-family: 'Inter';
    }
    .Kontakty-3.n2 {
        display: flex;
    }

    .genn-contact-videoDes-title {
        padding-top: 43px;
        padding-bottom: 43px;
        text-align: center;
        color: #000;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 600;
    }
    
    .genn-contact-videoDes {
        background: #EEECEA;
    
    }
    
    .relative.genn-contact-col-6-6 {
        flex-direction: column;
    }
    
    .genn-contact-col-6-6>div {
        width: 100%;
    }
    
    .Kontakty-1 {
        padding: 24px;
        /* padding-bottom: 0; */
        text-align: center;
    }
    
    .Kontakty-1-3 {
        max-width: 81%;
        font-weight: 400;
        font-family: 'Inter';
    }
    
    .Kontakty-1-0 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h3.Kontakty-1-1 {
        display: none;
    }
    
    .Kontakty-1-2 {
        font-weight: 600;
        margin-top: 0;
    }
    

.Kontakty-1 {
    padding-bottom: 0 !important;
 
}

.Kontakty-1-0 {
    padding-bottom: 40px;
}

.Kontakty-2 {
    padding: 24px 44px;
}
}

@media  (max-width: 374px) {
    .genn-contactInfo {
        flex-direction: column-reverse;
        left: 30px;
        gap: 30px;
    }
    .contact-map {
        transform: matrix(1, 0, 0, 1, -100, 0);
    }
    
    .genn-contact-landing {
        background-position: top 10px right 70%;
        background-size: 300%;
        min-height: 900px;
    }
    
    .genn-contact-landing-contactInfo {
        gap: 16px;
    }
    .genn-contact-videoDes-title {
        display: block;
    }
    .Kontakty-3.n3 {
        display: none;
    }
    
    .Kontakty-2 {
        text-align: center;
        font-weight: 400;
        font-family: 'Inter';
    }
    
    .Kontakty-1 {
        padding-bottom: 0;
    }
    
    button.Kontakty-1-4 {
        font-size: 12px;
        font-family: 'Inter';
    }
    
    
    
    .Kontakty-1-2 {
        margin-bottom: 30px;
    }
    
    .Kontakty-1-0 {
        font-family: 'Inter';
    }
    .Kontakty-3.n2 {
        display: flex;
    }

    .genn-contact-videoDes-title {
        padding-top: 43px;
        padding-bottom: 43px;
        text-align: center;
        color: #000;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 600;
    }
    
    .genn-contact-videoDes {
        background: #EEECEA;
    
    }
    
    .relative.genn-contact-col-6-6 {
        flex-direction: column;
    }
    
    .genn-contact-col-6-6>div {
        width: 100%;
    }
    
    .Kontakty-1 {
        padding: 24px;
        /* padding-bottom: 0; */
        text-align: center;
    }
    
    .Kontakty-1-3 {
        max-width: 81%;
        font-weight: 400;
        font-family: 'Inter';
    }
    
    .Kontakty-1-0 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h3.Kontakty-1-1 {
        display: none;
    }
    
    .Kontakty-1-2 {
        font-weight: 600;
        margin-top: 0;
    }
    

.Kontakty-1 {
    padding-bottom: 0 !important;

}

.Kontakty-1-0 {
    padding-bottom: 40px;
}

.Kontakty-2 {
    padding: 24px 44px;
}
}









