.genn-autoplay-toggle {
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.genn-TemplateNexsV1-CardVideoComponent-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.genn-TemplateNexsV1-CardVideoComponent-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.genn-TemplateNexsV1-CardVideoComponent-controls .genn-CardVideoComponent-controls {
  width: 245px;
}
.genn-autoplay-toggle:hover {
  background-color: #0056b3;
}
.genn-CardVideoComponent-controls{
  display: flex;
}
.genn-CardVideoComponent-prev {transform: rotate(180deg);}
.genn-templateCardV1-CardsContainer {
  padding-top: 80px;
  padding-bottom: 50px;
  position: relative;
}
.genn-templateCardV1-controls {
position: relative;
}


.grnn-prev-next .prev {
right: 76px;
left:auto;
}

.grnn-prev-next .next {
right: 15px;
}
.genn-templateCardV1-controls{
display: none;
}
@media (min-width: 1440px)   {
  .genn-templateCardV1-CardsContainer {
    padding-right: 40px;
    padding-left: 40px;
}
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .genn-templateCardV1-CardsContainer {
    padding-right: 31px;
    padding-left: 31px;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
  .genn-templateCardV1-container .swiper-slide {
    width: 270px !important;
}
}

@media (min-width: 414px) and (max-width: 767px) {
  .genn-templateCardV1-container .swiper-slide {
    width: 270px !important;
}
}

@media (min-width: 375px) and (max-width: 413px) {
  .genn-templateCardV1-container .swiper-slide {
    width: 270px !important;
}

}

@media  (max-width: 374px) {
  .genn-templateCardV1-container .swiper-slide {
    width: 270px !important;
}
}
@media (min-width: 1200px) {
  .genn-TemplateNexsV1-CardVideoComponent-buttons {
    display: none;
  }
  .genn-CardVideoComponent-controls{
    display: none;
  }
}
