.genn-go-to-top{
    position: fixed;
    bottom: 50px;
    right: 10px;
    color: #fff;
    border: none;    
    cursor: pointer;  
    z-index: 100;
}
.genn-go-to-top img {
    width: 50px;
    height:50px;
    transform: rotate(-90deg);
}

.genn-go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
  }
  
  .genn-go-to-top.visible {
    opacity: 1;
    transform: translateY(0);
  }
  