.genn-Perfectlayou.Prikhozhie {
    background: #000;
}

.genn-Perfectlayou.Prikhozhie .genn-Perfectlayou-title {
    color: #fff;
}

 .genn-Perfectlayou.Prikhozhie .genn-Perfectlayou-bottom-title {
    color: #fff;
}

 .genn-Perfectlayou.Prikhozhie .genn-Perfectlayou-bottom-des {
    color: #86868B;
}
.genn-TwoButtonV2.Prikhozhie{
    background-color: #000;
}
.genn-SliderImg.genn-shkaf-img.Prikhozhie{
    background-color: #000;
}
.genn-SliderImg.genn-shkaf-img.Prikhozhie .genn-title-shkafgategory{
    color: #fff;
}