.genn-SliderBaner-container.genn-Prikhozhie-SliderBaner {
    background: #000;
}
@media (min-width: 1440px) and (max-width: 1919px) {
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .genn-SliderBaner-container.genn-Prikhozhie-SliderBaner {
        padding-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .genn-Prikhozhie-SliderBaner  .genn-SliderBaner-image-container {
        padding-top: 0 !important;
    }
}

@media (min-width: 414px) and (max-width: 767px) {
    .genn-SliderBaner-container.genn-Prikhozhie-SliderBaner {
        background: #fff;
        padding-bottom: 20px;
    }
}

@media (min-width: 375px) and (max-width: 413px) {
    .genn-Prikhozhie-SliderBaner  .genn-SliderBaner-image-container {
        padding-top: 0 !important;
    }
    .genn-SliderBaner-container.genn-Prikhozhie-SliderBaner {
        background: #fff;
        padding-bottom: 20px;
    }
}

@media  (max-width: 374px) {
    .genn-Prikhozhie-SliderBaner  .genn-SliderBaner-image-container {
        padding-top: 0 !important;
    }
    .genn-SliderBaner-container.genn-Prikhozhie-SliderBaner {
        background: #fff;
        padding-bottom: 20px;
    }
}